<?xml version="1.0"?>
<ruleset name="dotypos-sdk">
    <description>Coding standard for bmm/dotypos-sdk</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="np"/>

    <config name="installed_paths" value="../../slevomat/coding-standard"/>

    <file>src</file>

    <rule ref="PSR12"/>

    <rule ref="SlevomatCodingStandard.Variables.UselessVariable"/>

    <rule ref="SlevomatCodingStandard.ControlStructures.JumpStatementsSpacing">
        <properties>
            <property name="jumpStatements" type="array">
                <element value="return"/>
            </property>
        </properties>
    </rule>
</ruleset>
